@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body{
    background: linear-gradient(rgb(49, 176, 161), rgb(205, 120, 41)) fixed no-repeat;
    color: white;
    font-family: 'DynaPuff', cursive;
    word-spacing: 4px;
    letter-spacing: 4px;
    text-align: justify;
}


img{
    width: 500px;
    border: white 5px solid;
    display: inline-block;
}

p{
    display: inline-block;

}

h1{
    margin: 10% 0 0 0 ;
    text-align: center;
    color: maroon;
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonClass{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10% 0 0 35% ;
    flex-direction: column;
    border-radius: 15%;
}



.inputClass{
    width: 15rem;
    height: 2rem;
    margin: 15% 0 2% 0 ;
    background-color: antiquewhite;
    outline: none;
    border-radius: 2rem;
    border: none;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 0 0 ;
}

.empty{
    height: 10px;
    width: 100%;
    background-color: black;
    margin: 0 0 100px 0;
}