body {
    padding: 0;
    margin: 50px 0px 0px 50px;
    box-sizing: border-box;
}

.display #screen {
    font-weight: bolder;
    font-family: Lexend Exa, sans-serif, Arial, Helvetica;
    color: rgb(223, 202, 199);
    width: 80%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: 2px solid black;
    text-align: right;
    padding: .6em .5em 0 0;
    background: #36423d;
    box-shadow: 4px 4px 10px 5px #2b322f;
    overflow: auto;

}


.btns {
    cursor: default;
    font-family: Lexend Exa, sans-serif, Arial, Helvetica;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 2px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    height: 50vh;
    background: rgb(223, 202, 199);
    padding: 10px;
    border: 1px solid rgb(203, 213, 218);
    box-shadow: 4px 4px 10px 5px #2b322f;
}

.container .btns .btn:active,
.btnCE:active,
.btnFact:active,
.btnAC:active,
.btnSin:active,
.btnCos:active,
.btnTan:active,
.btnPow:active,
.btnSqrt:active,
.btnLog:active,
.btnPi:active,
.btnRad:active,
.btnEquals:active,
.btnPercent:active {
    background-color: rgb(114, 73, 73);

}

.container .btns .btn,
.btnCE,
.btnFact,
.btnAC,
.btnSin,
.btnCos,
.btnTan,
.btnPow,
.btnSqrt,
.btnLog,
.btnPi,
.btnRad,
.btnEquals,
.btnPercent {
    border: 2px solid grey;
    text-align: center;
    margin: .5px;
    padding-top: 10px;
}